// -----------------------------------------------------------------
// CAROUSEL
// -----------------------------------------------------------------------------

$bass-duration: 600ms;
$bass-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84);
$slide-size: 280px;
$slide-margin: 1.4em;

.carousel-wrap {
  margin: 6em 0;
  overflow-x: hidden;
  height: 400px;
  display: flex;
  flex-direction: column;

  .slider-controls {
    display: flex;
    justify-content: space-between;
    top: calc(50% - 50px);
    width: 100vw;
    height: 380px;

    .btn {
      align-items: center;
      background-color: $white;
      display: flex;
      height: 380px;
      padding: 0;
      width: 100px;
      border-radius: 0;

      svg {
        width: 100px;

        path {
          fill: $darkpurple;
        }
      }

      &.btn-previous > * {
        transform: rotate(180deg);
      }
    }
  }

  .slider {
    height: $slide-size;
    position: relative;
    width: $slide-size;
  }

  .slider-wrapper {
    display: flex;
    margin: 0 6em;
    position: absolute;
    transition: transform $bass-duration cubic-bezier(0.25, 1, 0.35, 1);
  }

  .slide {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: $slide-size;
    justify-content: center;
    margin: 0 $slide-margin 0 0;
    opacity: 1;
    position: relative;
    text-align: center;
    transition: opacity calc($bass-duration) / 2 $bass-ease,
      transform calc($bass-duration) / 2 $bass-ease;
    width: $slide-size;
    z-index: 1;
  }

  .slide-current {
    opacity: 1;
    pointer-events: auto;
    user-select: auto;
  }

  .slide-image-wrapper {
    background-color: $white;
    border-radius: 1%;
    height: 100%;
    left: 0%;
    overflow: hidden;
    position: absolute;
    top: 0%;
    transition: transform calc($bass-duration) / 4 $bass-ease;
    width: 100%;
  }

  .slide-image {
    height: 100%;
    left: 0;
    object-fit: cover;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: opacity $bass-duration $bass-ease,
      transform $bass-duration $bass-ease;
    user-select: none;
    width: 110%;
  }

  .slide-content {
    padding: 2em 0;
    position: relative;
    bottom: -12em;
    text-align: left;
    width: 90%;

    .slide-headline {
      font-size: 1em;
      font-weight: 600;
      position: relative;
    }
  }

  .carousel-dots {
    display: inline-block;
    margin: 6em auto 0 auto;

    @media (max-width: $widthMobile) {
      margin: 0;
    }

    .dot {
      display: inline-block;
      width: 1em;
      height: 1em;
      padding: 0;
      background: $graylight;
      border: 0;
      border-radius: 50%;
      margin: 0 0.3em;
      outline: none;
      transform: scale(0.5);
      cursor: pointer;

      &.active {
        background: $darkpurple;
      }
    }
  }
}
