// -----------------------------------------------------------------------------
// DETAILS
// -----------------------------------------------------------------------------

.detail-body {
  padding: 1em;
  margin-top: 2em;

  .pill {
    font-weight: 600;
    color: $darkblue;
  }

  .main-image {
    width: 100%;
    height: 450px;
    overflow: hidden;
    margin: 3em 0 1em;
    position: relative;

    img {
      position: absolute;
      bottom: 0;
    }
  }

  .gallery {
    display: flex;

    @media (max-width: $widthTablet) {
      flex-wrap: wrap;
    }

    @media (max-width: $widthMobile) {
          justify-content: space-between;
    }

    .gallery-item {
      overflow: hidden;
      width: 20%;
      margin: 1em 1em 1em 0em;
      cursor: pointer;

      @media (max-width: $widthTablet) {
        width: 30%;
      }

      @media (max-width: 540px) {
        width: 47%;

        &:nth-child(even) {
          margin-right: 0;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .quote {
    p {
      margin: 2em 0 1em;
    }
  }
}
