@import "Variables";

// -----------------------------------------------------------------------------
// DETAILS
// -----------------------------------------------------------------------------

.detail-body {
  padding: 1em;

  .pill {
    font-weight: 600;
    color: $green;
  }

  .main-image {
    width: 100%;
    height: 450px;
    overflow: hidden;
    margin: 3em 0 1em;
    position: relative;

    img {
      position: absolute;
      bottom: 0;
    }
  }

  .gallery {
    display: flex;

    .gallery-item {
      overflow: hidden;
      width: 20%;
      height: 300px;
      margin: 1em;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .quote {
    p {
      margin: 2em 0 1em;

      span {
        border-bottom: 3px solid $green;
        box-shadow: inset 0 -4px 0 $green;
        transition: background-color 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);

        &:hover,
        &:focus {
          background-color: $green;
        }
      }
    }
  }
}
