// -----------------------------------------------------------------------------
// FOOTER
// -----------------------------------------------------------------------------

.footer {
  background-color: $darkblue;
  width: 100%;
  margin-top: 5em;

  .container {
    color: $white;
    padding: 2em;

    span {
      text-transform: uppercase;
      letter-spacing: 1px;
        font-size: 1.4em;
    }

    p {
      margin: 0.5em 0;
      display: flex;
      flex-wrap: wrap;

      a {
        color: $white;
        text-transform: uppercase;
        padding: 3px 12px 4px 0px;
        margin: 0.5em 0.5em 0.5em 0em;
        border-bottom: 3px solid $darkpurple;
        box-shadow: inset 0 -4px 0 $darkpurple;
        transition: background-color 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);

        &:hover,
        &:focus {
          background-color: $darkpurple;
        }
      }
    }
  }
}
