@import 'Variables';

// -----------------------------------------------------------------------------
// HEADER STYLES
// -----------------------------------------------------------------------------

#header {
  font-weight: bold;
  font-size: 1.5em;
  padding: 0.7em 0;
  background-color: $purple;
  color: $white;
  font-family: 'Playfair Display', serif;
  text-align: center; 
}
