// -----------------------------------------------------------------------------
// HERO
// -----------------------------------------------------------------------------

.hero-bg {
  -webkit-transform: skewY(4deg);
  -o-transform: skewY(4deg);
  transform: skewY(4deg);
  -webkit-transform-origin: 100%;
  -o-transform-origin: 100%;
  transform-origin: 100%;
  z-index: -1;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  margin-top: -100px;
  padding-top: 100px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  color: #fff;
  margin-bottom: -20px;
  box-shadow: $box-shadow;
  background: $purple;
  background: -webkit-linear-gradient(top, $purple 32%, $green 100%);
  background: -o-linear-gradient(top, $purple 32%, $green 100%);
  background: linear-gradient(to bottom, $purple 32%, $green 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$purple', endColorstr='$green', GradientType=0 );

  .unrotate {
    -webkit-transform: skewY(-4deg);
    -o-transform: skewY(-4deg);
    transform: skewY(-4deg);
    -webkit-backface-visibility: hidden;
  }

  .hero-blurb {
    padding: 2em 4em 6em 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (max-width: $widthTablet) {
      padding: 2em 1em 6em 1em;
    }

    h1 {
      letter-spacing: 1px;
      font-family: "Adamina", serif;
      font-size: 2.8em;

      @media (max-width: $widthMobile) {
        font-size: 2.1em;
      }
    }

    p {
      @media (max-width: $widthTablet) {
        font-size: 0.8em;
      }
    }
  }

  .box {
    background-color: rgba(255, 255, 255, 0.1);
    width: 288px;
    height: 91px;
    position: absolute;
    right: 9em;
    top: 7em;
    z-index: -1;
  }
}
