// -----------------------------------------------------------------------------
// VARIABLES
// -----------------------------------------------------------------------------

// COLORS
$black: #0e1111;
$white: #ffffff;
$purple: #6774f7;
$blue: #2ac5e5;
$green: #51e7ce;
$graylight: #e7e9f0;
$graymediumlight: #f6f7fa;
$graymedium: #839399;
$graymediumdark: #526269;
$graydark: #828282;
