// -----------------------------------------------------------------------------
// VARIABLES
// -----------------------------------------------------------------------------

// COLORS
$black: #0e1111;
$white: #ffffff;
$purple: #6774f7;
$blue: #2ac5e5;
$green: #51e7ce;
$red: #6b1f1f;
$darkblue: #1655a7;
$darkpurple: #393460;
$graylight: #e7e9f0;
$graymediumlight: #f6f7fa;
$graymedium: #839399;
$graymediumdark: #526269;
$graydark: #828282;

// RESPONSIVE SIZING
$widthMobile: 400px;
$widthTablet: 768px;
$widthTabletLarge: 900px;
$widthDesktop: 1100px;

// ETC
$box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);